---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Counter from '../components/Counter.jsx'
import SvelteCounter from '../components/SvelteCounter.svelte'
import TeamMembers from '../components/TeamMembers.vue'
import HeroSection from '../components/HeroSection.vue';
import { loadSpeakers } from '../utils/api';

const speakers = loadSpeakers
---

<Layout title="Welcome to Astro.">
	<main class="bg-red-500">
		
		<HeroSection />

		<Counter client:visible />

		<SvelteCounter client:load />

		<TeamMembers speakers={speakers} />
	</main>
</Layout>

<style>

</style>
